.devise-container
  .devise-form
    %h1 TaskManager
    %h3 Forgot your password?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, "SUBMIT", class: "btn-primary btn-lg devise-button"
    = render "devise/shared/links"
