.container-fluid.content-container.bg-grey
  .project-title.text-center
    %h1= @project.name
  .project-content
    .row
      .col-md-4
        .panel.panel-default.text-center
          .panel-heading
            %h3 To do
          .panel-body.task-list
            %ul.list-group
              = render :partial => "tasks/task", :collection => @to_do, :as => :t
          .panel-footer
            = link_to "Add task", new_project_task_path(@project)
      .col-md-4
        .panel.panel-default.text-center
          .panel-heading
            %h3 In progress
          .panel-body.task-list
            %ul.list-group
              = render :partial => "tasks/task", :collection => @in_progress, :as => :t
          .panel-footer
            = link_to "Add task", new_project_task_path(@project)
      .col-md-4
        .panel.panel-default.text-center
          .panel-heading
            %h3 Done
          .panel-body.task-list
            %ul.list-group
              = render :partial => "tasks/task", :collection => @done, :as => :t
          .panel-footer
            = link_to "Add task", new_project_task_path(@project)